# Importing, Summarizing, and Visualizing Data
**Referensi**     
Kroese D.P., Botev Z.I., Taimre T., and Vaisman R. (2020) _Data Science and Machine Learning: Mathematical and Statistical Methods_. CRC Press

## 1.1 Introduction

Coba Anda import package `pandas` sebagai `pd`.

In [1]:
####################
# Write Your Code 
####################
import pandas as pd

Bacalah dataset `abalone.data` dengan `read_csv`

In [2]:
####################
# Write Your Code 
####################
abalone = pd.read_csv('abalone.data', header=None)

Bacalah dataset iris dalam bentuk file `csv` dari url link: `https://vincentarelbundock.github.io/Rdatasets/csv/`

In [3]:
####################
# Write Your Code 
####################
urlprefix = 'https://vincentarelbundock.github.io/Rdatasets/csv/'
dataname = 'datasets/iris.csv'
iris = pd.read_csv(urlprefix+dataname)

Tampilkan 5 baris pertama dari `iris`.

In [4]:
####################
# Write Your Code 
####################
iris.head()

   rownames  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0         1           5.1          3.5           1.4          0.2  setosa
1         2           4.9          3.0           1.4          0.2  setosa
2         3           4.7          3.2           1.3          0.2  setosa
3         4           4.6          3.1           1.5          0.2  setosa
4         5           5.0          3.6           1.4          0.2  setosa

Buanglah kolom pertama dari `iris`.

In [5]:
####################
# Write Your Code 
####################
iris.columns
iris = iris.drop('rownames',axis=1)

Mari kita cek bahwa kolom pertama memang sudah di-delete.     
Tampilkan kembali 5 baris pertama dari `iris`.

In [6]:
####################
# Write Your Code 
####################
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Coba tampilkan 3 baris teratas dari `abalone`.

In [7]:
####################
# Write Your Code 
####################
abalone.head(3)

   0      1      2      3       4       5       6     7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.15  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.07   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.21   9

Konversi nama-nama kolom dari `abalone` menjadi 
1. `Sex`, 
2. `Length`, 
3. `Diameter`, 
4. `Height`,
5. `Whole weight`,
6. `Shucked weight`, 
7. `Viscera weight`, 
8. `Shell weight`,
9. `Rings`

In [8]:
####################
# Write Your Code 
####################
abalone.columns = ['Sex','Length','Diameter','Height','Whole weight','Shucked weight',
                   'Viscera weight','Shell weight','Rings']
abalone.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

## 1.2 Structuring Features According to Type

Mari kita baca sebuah file excel dari `http://www.biostatisticien.eu/springeR` dengan nama file: `nutrition_elderly.xls`

In [10]:
####################
# Write Your Code 
####################

xls = 'http://www.biostatisticien.eu/springeR/nutrition_elderly.xls'
nutri = pd.read_excel(xls)

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

Tampilkan `info` dari `nutri`; perhatikan tipe data dari masing-masing kolom.

In [ ]:
####################
# Write Your Code 
####################

Buatlah _dictionary_ yang bernama `DICT` yang berisi `1` adalah `Male` dan `2` adalah `Female`.

In [ ]:
####################
# Write Your Code 
####################

Konversilah nilai di kolom `gender` sesuai dengan nilai `DICT`.

In [ ]:
####################
# Write Your Code 
####################

Dengan menggunakan variabel yang sama (`DICT`), buatlah `DICT` yang berisi nilai `1` adalah `Single`, `2` adalah `Couple`, dan `3` adalah `Family`.

In [ ]:
####################
# Write Your Code 
####################

Ubahlah tipe dari kolom `height` dari `nutri` sebagai `float` dan simpan hasil konversi ke kolom yang sama.

In [ ]:
####################
# Write Your Code 
####################

Simpanlah dataframe `nutri` ke file `nutri.csv` tanpa menyimpan indeks-nya.

In [ ]:
####################
# Write Your Code 
####################

## 1.3 Summary Tables

Tampilkan statistika deskriptif dari kolom `fat` dari `nutri`.

In [ ]:
####################
# Write Your Code 
####################

Hitunglah jumlah masing-masing dari setiap nilai `fat`.

In [ ]:
####################
# Write Your Code 
####################

Buatlah tabel yang mencatat jumlah untuk setiap kombinasi dari `gender` dan `situation`.

In [ ]:
####################
# Write Your Code 
####################

Buatlah tabel yang mencatat jumlah untuk setiap kombinasi dari `gender` dan `situation` dengan total jumlahnya.

In [ ]:
####################
# Write Your Code 
####################

## 1.4 Summary Statistics

Hitunglah rata-rata dari kolom `height` dari `nutri`.

In [ ]:
####################
# Write Your Code 
####################

Hitunglah $Q_1$, $Q_2$, dan $Q_3$ dari `height`

In [ ]:
####################
# Write Your Code 
####################

Hitunglah rentang dari kolom `height`.

In [ ]:
####################
# Write Your Code 
####################

Hitunglah variansi dari `height` dengan 2 angka di belakang koma.

In [ ]:
####################
# Write Your Code 
####################

Hitunglah simpangan baku dari `height` dengan 2 angka di belakang koma.

In [ ]:
####################
# Write Your Code 
####################

Tampilkan statistika deskriptif dari `height`.

In [ ]:
####################
# Write Your Code 
####################

## 1.5 Visualizing Data

Mari kita import semua library yang dibutuhkan.

In [ ]:
import matplotlib . pyplot as plt
import pandas as pd
import numpy as np

### 1.5.1 Plotting Qualitative Variables

Silakan plot histogram untuk variabel `situation` dengan lebar `0.35` dan posisi tiap bar pada `0`, `0.8`, dan `1.6`.

In [ ]:
####################
# Write Your Code 
####################

### 1.5.2 Plotting Quantitative Variables

#### 1.5.2.1 Boxplot

Buatlah **boxplot** untuk `age` dan beri label pada `x`: `age`.

In [ ]:
####################
# Write Your Code 
####################

#### 1.5.2.2 Histogram

Buatlah histogram yang berisi proporsi umur $\Rightarrow$ umur / jumlah semua data

In [ ]:
####################
# Write Your Code 
####################

#### 1.5.2.3 Empirical Cumulative Distribution Function

Buatlah distribusi fungsi kumulatif untuk `age`.

In [ ]:
####################
# Write Your Code 
####################

### 1.5.3 Data Visualization in a Bivariate Setting

#### 1.5.3.1 Two-way Plots for Two Categorical Variables

Buatlah plot untuk kolom `situation` dari `nutri` dengan menampilkan `Male` dan `Female` pada setiap nilai `situation`.

In [ ]:
####################
# Write Your Code 
####################

#### 1.5.3.2 Plots for Two Quantitative Variables

Buatlah scatter plot dengan sumbu $x$ adalah `height` dan sumbu $y$ adalah `weight`.

In [ ]:
####################
# Write Your Code 
####################

Buatlah plot age (sumbu $x$) dan birth weight (sumbu $y$) yang membandingkan smokers dan non-smokers, kemudian gambarkan juga garis regresinya, yaitu garis lurus.

In [ ]:
####################
# Write Your Code 
####################

#### 1.5.3.3 Plots for One Qualitative and One Quantitative Variable

Buat plot boxplot untuk konsumsi kopi untuk masing-masing `Male` dan `Female`.

In [ ]:
####################
# Write Your Code 
####################

<center>
       <h1>The End</h1>
</center>